# DigitalOcean requires ConfigDrive to be listed before NoCloud, otherwise
# Droplets created from this image will not function properly.
# https://docs.digitalocean.com/products/custom-images/how-to/upload/
datasource_list: [ ConfigDrive, DigitalOcean, None ]
